<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <title>Kosogor AK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="bg"></div>
    <div id="app" class="container">
        <div class="loadingGif" v-show="loadInfo" style="display: none;">
            <img src="../static/preloader.gif">
        </div>
        <div class="btn" @click="btnClick" :class="loadInfo ? 'disabledbutton' : ''"><p>Take a photo</p></div>
        <div :class="imageSrc.length > 0 ? 'image' : ''">
            <img v-show="imageSrc.length" :src="imageSrc" style="display: none;">
        </div>
        <div class="chart">
            <div id="containerChart"></div>
        </div>
        <div class="logs">
            <p v-html="logsLine"></p>
        </div>
    </div>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>